<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef> naziv </th>
      <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="boja">
      <th mat-header-cell *matHeaderCellDef> boja </th>
      <td mat-cell *matCellDef="let element"> {{element.boja}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef> cena </th>
      <td mat-cell *matCellDef="let element"> {{element.cena}} </td>
    </ng-container>

       <!-- Symbol Column -->
       <ng-container matColumnDef="kategorija">
        <th mat-header-cell *matHeaderCellDef> kategorija </th>
        <td mat-cell *matCellDef="let element"> {{element.kategorija}} </td>
      </ng-container>

         <!-- Symbol Column -->
    <ng-container matColumnDef="datumKreiranja">
        <th mat-header-cell *matHeaderCellDef> datumKreiranja </th>
        <td mat-cell *matCellDef="let element"> {{element.datumKreiranja}} </td>
      </ng-container>

            <!-- Symbol Column -->
    <ng-container matColumnDef="slika">
        <th mat-header-cell *matHeaderCellDef> slika </th>
        <td mat-cell *matCellDef="let element"> {{element.slika}} </td>
      </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  